@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-image: radial-gradient(#10b981 0.5px, transparent 0.5px);
    background-size: 24px 24px;
    background-position: 0 0;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d6d3d1;
  border-radius: 5px;
  border: 2px solid #fafaf9;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a29e;
}